[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlmodel = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
alembic = "*"
python-decouple = "*"
psycopg2 = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
email-validator = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
